.Home {
  background-color: #f8f8f8;

  .nav-bar {
    background-color: #007BFF;
    color: #fff;
    padding: 2px 0;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        display: block;
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #55dce6;
          }
        }
      }
    }
  }

  .introduction {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
}